@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Nincs hozzáférése ehez az erőforráshoz";
}

<head>
    <link rel="stylesheet" href="~/css/addcourse.css" />
</head>

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nem rendelkezik hozzáféréssel az megztekintéséhez.</p>
</header>
