@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email megerősítése";
}

<head>
    <link href="~/css/reglogin.css" rel="stylesheet" />
</head>

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
