@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Elfelejtett jelsző elküldve";
}

<style>
    html {
        font-size: 14px;
    }


    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px;
        background-color: #1e1e1e;
        color: #f1f1f1;
    }

    a {
        color: #0077b6;
    }

        a:hover {
            color: #005c8a;
        }

    .btn-primary {
        background-color: #0077b6;
        border-color: #0077b6;
    }

        .btn-primary:hover {
            background-color: #005c8a;
            border-color: #005c8a;
        }
</style>

<h1>@ViewData["Title"]</h1>
<p>
Ellenőrizze email postaládáját. Ne feledje a SPAM mappát megtekinteni!
</p>
