body {
    background-color: #1e1e1e;
    color: #f1f1f1;
    font-size: 16px;
}

h4 {
    text-align: center;
    color: #f1f1f1;
    margin-bottom: 20px;
}

.form-container {
    margin: 0 auto;
    max-width: 500px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #f1f1f1 !important;
}

control-label{
    color: #f1f1f1 !important;
}

input[type="text"],
input[type="date"] {
    background-color: #2d2d2d;
    border: 1px solid #3c3c3c;
    color: #f1f1f1;
    padding: 10px;
    width: 100%;
}

input[readonly] {
    background-color: #2d2d2d;
    border: 1px solid #3c3c3c;
    color: #000000;
    padding: 10px;
    width: 100%;
}

input[type="submit"] {
    background-color: #0077b6;
    border: none;
    color: #f1f1f1;
    padding: 10px 20px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #005c8a;
    }

a {
    color: #f1f1f1;
    text-decoration: none;
}

    a:hover {
        color: #b4b4b4;
    }

.text-danger {
    color: #ff4646;
}

