body {
    background-color: #1e1e1e;
    color: #f1f1f1;
    font-size: 16px;
}

.card {
    background-color: #2d2d2d;
    border: 1px solid #3c3c3c;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #0077b6;
    color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.table {
    margin-bottom: 0;
    color: #f1f1f1;
}

    .table thead th {
        border-top: none;
        color: #f1f1f1;
    }

    .table tbody td {
        color: #f1f1f1;
    }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #3c3c3c;
}

.no-grades {
    font-size: 1.2rem;
    color: #b4b4b4;
}

.grade-value {
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}

    .grade-value:hover {
        color: #b4b4b4;
    }

.grade-date {
    color: #b4b4b4;
}