@model EduSchool.ViewModels.CourseEnrollViewModel

@{
    ViewData["Title"] = "Kurzusra jelentkezés";
}

<head>
    <link rel="stylesheet" href="~/css/views/courseenroll.css">
</head>

<br />
<div class="container">
    <h2>Kurzusra jelentkezés</h2>
    <p>Kérem, adja meg az oktatója által kiadott kurzus azonosítót a kurzusra jelentkezéshez!</p>

    @Html.ValidationSummary(null, new { @class = "validation-summary-errors" })

    <form asp-action="Enroll" method="post">
        <div class="form-group">
            <label asp-for="CourseId">A felvenni kívánt kurzus azonosítószáma:</label>
            <input type="number" class="form-control" id="CourseId" name="courseId" required>
        </div>
        <button type="submit" class="btn btn-primary">Jelentkezés</button>
    </form>
</div>