@model EduSchool.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Új kurzus hozzáadása";
}

<head>
    <link rel="stylesheet" href="~/css/views/courseindex.css">
</head>

<div class="form-container">
    <h4>Új kurzus létrehozása</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Kurzus neve:</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Kurzus leírás:</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="control-label">Kezdési dátum:</label>
            <input type="date" asp-for="StartDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label">Befejezési dátum:</label>
            <input type="date" asp-for="EndDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label">Kategória:</label>
            <input asp-for="Category" class="form-control" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="InstructorID" class="control-label">Oktató neve:</label>
            <input asp-for="InstructorID" class="form-control" readonly value="@ViewBag.InstructorName" style="background-color: #3c3c3c; color: #b4b4b4;" />
            <span asp-validation-for="InstructorID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Létrehozás" class="btn btn-primary" />
        </div>
    </form>

    <div>
        <a asp-controller="Home" asp-action="Index">Vissza a listához</a>
    </div>
</div>